{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block configActive %} class="active"{% endblock %}
{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrapTable.css' %}" rel='stylesheet' type='text/css'>
{% endblock extra_css %}
{% block javascript %}
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script>
    $(function () {
        var elpicker = $('#datetimepicker');
       elpicker.datetimepicker({

            format:'YYYY-MM-DD',
            defaultDate: new Date()
        });
       elpicker.on('dp.change', function(e){ recargar() });
    });
</script>

{% endblock javascript %}

{% block contenido %}
    <div class="row" style="margin-top: 1px; padding-bottom: 8px;">

                         <div class="hidden-xs col-sm-4 col-lg-4">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-lg-4">
                            <center>
                                 <img src="{% static 'image/logo_birreria.jpeg' %}" width="50%" alt="">
                             </center>
                        <!--<button type="button" id="bb" class="btn btn-sm btn-success btn-create"  onclick="recargar()"
                            style="position: absolute;right: 0.5em;">Actualizar</button>-->
                        </div>
                        <div class="hidden-xs col-sm-4 col-lg-4">
                        </div>
    </div>
    <div class="row" style="margin-top: 1px; padding-bottom: 8px;background-color: #f5f5f5;">
                         <label class="control-label col-xs-12 col-sm-12 col-lg-12" style="font-weight: bolder; margin-top: 1px;text-align: center;">Fecha</label>
                         <div class="hidden-xs col-sm-4 col-lg-4">
                        </div>
                        <div class="col-xs-10 col-sm-4 col-lg-4">
                            <center>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker'>
                                        <input type='text' class="form-control" id='fecha_inp'
                                               style="font-weight: bolder; margin-top: 3px;" onchange="recargar()"/>
                                         <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                         </span>
                                     </div>
                                </div>
                            </center>
                        </div>
                        <div class="hidden-xs col-sm-4 col-lg-4">
                        </div>
    </div>


    <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">

     <div id="resultado">

     </div>
    </div>



<script>
 $(document).ready(function () {
     setTimeout(function(){ recargar() }, 60000*5);
     var query =($('#fecha_inp').val());
    $.ajax({
           type: 'GET',
           url: '{% url "calcT" %}',
           data: {
             'csrfmiddlewaretoken': '{{ csrf_token }}',
               'fecha' : ''
           },
           success: function(data) {
              $('#resultado').html(data);
           },
           error: function(data) {
              console.log(data);
           }
    });
 });


 function recargar() {
     setTimeout(function(){ recargar() }, 60000*5);
     var query =($('#fecha_inp').val());
     $.ajax({
           type: 'GET',
           url: '{% url "calcT" %}',
           data: {
             'csrfmiddlewaretoken': '{{ csrf_token }}',
               'fecha' :query
           },
           success: function(data) {
              $('#resultado').html(data);
           },
           error: function(data) {
              console.log(data);
           }
    });
 }
</script>
    </div>
{% endblock %}