<!DOCTYPE html>
<html lang="en">
<head>
    <title>Studium - Log out</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-top: 10em; text-align: center;">
                <div class="panel panel-default">
                    <div class="panel-heading">Sesión finalizada</div>
                    <div class="panel-body">
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p><a href="{% url 'login' %}">Clic aquí para volver a iniciar sesión</a></p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>